<div class="row" ng-show="students.length">
    <div class="col-md-8">
        <h1>Signed-in Students</h1>
        <ul>
          <li ng-repeat="item in students | filter: { signedIn: true }">
            {{ item.name }} <button type="button" ng-click="signOut(item)" class="btn btn-warning btn-xs">Sign out</button>
          </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <h1>Please Sign In</h1>
        <form ng-submit="StudentsFactory.addStudent()" class="form-inline" role="form">
            <div class="form-group">
                <input type="text" ng-model="StudentsFactory.studentName" class="form-control" placeholder="Enter name" required>
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
        </form>
    </div>
</div>
