<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Sign In Sheet</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a ui-sref="signIns">Sign In</a></li>
                <li><a ui-sref="students">Who's here</a></li>
            </ul>
        </div><!--/.navbar-collapse -->
    </div>
</nav>

<div ng-show="!students.length">
    <h1>There are no students signed in today.</h1>
</div>

<div ng-show="students.length">
  <h1>Here are all of the students:</h1>
  <ul>
    <li ng-repeat="item in students">
      {{ item.name }}
    </li>
  </ul>
  <div class="row">
      <div class="col-md-4" ng-show="students.length && factory.students.signedIn">
          <h2>Signed In:</h2>
          <ul>
            <li ng-repeat="item in students ">
              {{ item.name }}
            </li>
          </ul>
      </div>

      <div class="col-md-4" ng-show="students.length && !factory.students.signedIn">
          <h2>Signed Out:</h2>
          <ul>
            <li ng-repeat="item in students ">
              {{ item.name }}
            </li>
          </ul>
      </div>
  </div>
</div>
